


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
<title>宁波市光圣科技股份有限公司</title>
<meta name="description" content="宁波市光圣科技股份有限公司成立于2002年10月,公司总部坐落于宁波保税南区。

    公司获得英国BSI公司ISO 9001-2008质量体系认证和ISO14001环境体系认证，为专业CATV部件及光通讯产品制造商。" />
<meta name="keywords" content="宁波市光圣科技股份有限公司成立于2002年10月,公司总部坐落于宁波保税南区。

    公司获得英国BSI公司ISO 9001-2008质量体系认证和ISO14001环境体系认证，为专业CATV部件及光通讯产品制造商。" /> 
<!-- CSS code -->
<link rel="stylesheet" type="text/css" href="../../../assets/css/common.css" />
<link rel="stylesheet" type="text/css" href="../../../assets/css/subpage.css" />
<link rel="stylesheet" type="text/css" href="../../../assets/css/subpageLite.css" />
<script type="text/javascript">

    //平台、设备和操作系统
    var system = {
        win: false,
        mac: false,
        xll: false
    };
    //检测平台
    var p = navigator.platform;
    system.win = p.indexOf("Win") == 0;
    system.mac = p.indexOf("Mac") == 0;
    system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
    //跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
    if (system.win || system.mac || system.xll) {
    } else {
        window.location.href = "/mobile/index.aspx";
    }
</script>
<title>

</title></head>  
<body>
<form name="form1" method="post" action="Basic.aspx?Node=101031007" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="r5fSBYm4VneCmv5mvzaHxY/KvHU4Hn66kotxlQDbHzWAc9EAdruTE85b1n/ba1woD7RianE63tX/O7tcldQjNS851dOfRFguCH135Y3DPF3rQfLKAdTSsGBoo6k=" />
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="2160662E" />
</div>
    <!-- wrapper start -->
    <div class="wrapper">

        <!-- /////////////////////////////////////////////////////////////////////////// -->
        <!-- head start -->
        <!-- /////////////////////////////////////////////////////////////////////////// -->
        
<div class="head">
                <div class="topLinkBg">
                    <div class="topLink">
                        <ul class="topLinkList">
                            <li class="firstTopLink"><a href="../../index.html">首页</a></li>
                            <li class="memberLink">企业成员</li>
                            <li class="LastTopLink"><a href="../touzi.html">联系我们</a></li>
                        </ul>
                        <ul class="members">
                            <li><a target="_blank" href="http://www.ezconn.com/">光红建圣</a></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="topLogoRow">
                    <div class="logo">
                        <a href="../../index.html"><img src="../../images/common/2.png" /></a>
                    </div>
                    <div class="search">
                        <div class="searchRow0">
                            <a href="/en/index.html"><i></i>English</a>
                            <a class="lanActive" href="../../index.html"><i></i>中文</a>
                        </div>
                        <div class="searchRow1">
                            <input type="text" id="txt1" onkeydown="if(event.keyCode==13) return searchAll();" class="searchText" />
                            <input type="button" class="searchBtn" onclick="searchAll()" title="搜索" />
                        </div>
                    </div>
                </div>
                <div class="topNav">
                    <div class="topNavList">
                        <!--  -->
                         <a href="../../view/profile.html">关于光圣</a>
                        
                        <a href="../../view/chanpin.html">产品介绍</a>
                        <a href="../../view/gsfengcai.html">光圣风采</a>
                        <a href="../../view/touzi.html">联系我们</a>
                        <a href="../../view/person.html">人力资源</a>
                        <!--  -->
                        <div class="topNavSub">
                            <div class="activeLeft"></div>
                            <div class="activeRight"></div>
                        </div>
                    </div>
                </div>
                <div class="subNavWrapper">
                    <div class="subNavSet">
                        <div class="subNav sub0">
                            <span> <i class="subBgTopLeft"></i> <i class="subBgBotLeft"></i> </span>
                            <ul>
                                <li> <a href="../../view/profile.html">光圣简介</a> 
                                <a href="../../view/GY/SHZR.html">社会责任</a>
                                 <a href="../../view/GY/XWZX.html">新闻中心</a> </li>
                            </ul>
                            <span class="features"> 
                            <i> <img width="177" height="100" src="../../images/bgdl.jpg" /> <em> <span style="text-align:center;"> <strong>办公大楼</strong> </span> </em> </i> </span>
                        </div>
                        
                        <div class="subNav sub1">
                            <span><i class="subBgTopLeft"></i><i class="subBgBotLeft"></i></span>
                            <ul>
                                <li><a href="../../view/chanpin.html">RF产品</a>
                                <a href="../../view/gsfengcai.html">光通讯产品</a>
                                </li>
                            </ul>
                            <span class="features"><i><img width="177" height="100" src="../../images/chanpin.png" /><em><strong>让事情简单化，让产品极致化</strong></em></i></span>
                        </div>
                        <div class="subNav sub2">
                            <span><i class="subBgTopLeft"></i><i class="subBgBotLeft"></i></span>
                            <ul>
                                <li><a href="../../view/gsfengcai.html">QCC</a>
                                <a href="../../view/HD/DBQ.html">躲避球</a>
                                <a href="../../view/HD/NH.html">公司年会</a>
                                </li>
                            </ul>
                            <span class="features"><i><img width="177" height="100" src="../../images/fc.jpg" /><em><strong>不断丰富公司文化活动</strong></em></i></span>
                        </div>
                        <div class="subNav sub3">
                            <span><i class="subBgTopLeft"></i><i class="subBgBotLeft"></i></span>
                            <ul>
                                <li><a href="../../view/touzi.html">公司信息</a>
                                <a href="../TZ/GSZL.html">公司治理</a>
                                <a href="../../view/TZ/GG.html">临时公告</a>
                                </li>
                            </ul>
                            <span class="features"><i><img width="177" height="100" src="../../images/tz.jpg" /><em><strong>可持续发展</strong></em></i></span>
                        </div>
                        <div class="subNav sub4">
                            <span><i class="subBgTopLeft"></i><i class="subBgBotLeft"></i></span>
                            <ul>
                                <li><a href="../../view/person.html">人才理念</a>
                                <a href="../../view/RL/ZP.html">人才招聘</a></li>
                            </ul>
                            <span class="features"><i><img width="177" height="100" src="../../images/ren.jpg" /><em><strong>诚实、务实、确实、创新</strong></em></i></span>
                        </div>
                    </div>
                </div>
         <script type="text/javascript">
             function searchAll() {
                 var v = document.getElementById("txt1").value;
                 if (v == "") {
                     alert("请输入关键字！");
                     return false;
                 } else {
                     var url = "/Search.aspx?key=" + escape(v);
                     location.href = url;
                 }
                 return false;
             }

            
</script>

       
        <!-- head end -->

        <!-- /////////////////////////////////////////////////////////////////////////// -->
        <!-- content start -->
        <!-- /////////////////////////////////////////////////////////////////////////// -->
        
        <div class="content">

            <!-- side nav start -->
           
    <div class="sideNav">
                <div class="mainTitle">产品介绍</div>

                <!-- active style for <a> tag: activeLv0, activeLv1, activeLv2 -->
                <!-- sub level div: lvWrapper1, lvWrapper2 -->
                <!-- when activeLv0/activeLv1 is final level, href="javascript:;" -->
                <!-- arrow: <i> tag -->
            
              <div class="lv0"><a target="_self" href="../../view/chanpin.html">RF产品 </a>
                	
                
        </div>
        
        
          
     <div class="lv0">
     <a target="_self" href="../../view/GTX/GTX.html">光通讯产品 </a>
     <div class="lvWrapper1" style="display:block;">
     <div class="lv1">
     <a target="_self" href="osa.html">OSA</a></div>
     <div class="lv1"> 
     <a target="_self" href="passive.html">Passive</a></div>
     <div class="lv1"> 
     <a target="_self" href="AD.html">Advanced Product</a></div>
     <div class="lv1"> 
     <a class="activeLv0" href="others.html">Others</a></div></div></div>


                


                   
            
                

            </div>
            
            <!-- side nav end -->

            <!-- core start -->
            <div class="core">
                
                
<div class="coreRow0">
    <div class="coreTitle">
         <i>Others</i></div>
    <div class="coreBreadcrumb">
        您的位置： <a href="../../index.html">首页</a> >
        <a href="../chanpin.html">产品介绍</a> > 光通讯产品 > <i>Others</i> </div>
</div>
<div class="splitor_blue">
</div>

                

                  <div class="context">
                     <p><img src="../../images/GTX/others/Fiberpro 光缆辨识器.jpg" />&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     	<img src="../../images/GTX/others/古河光纤熔接机.jpg" /></p>
<p>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
	Fiberpro 光缆辨识器 &nbsp;  &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	古河光纤熔接机</p>

<p>&nbsp;</p>

                </div>
            <!-- core end -->
            
 <div class="cntFoot">
                    <a class="toTop" href="javascript:;"><i></i>返回顶部</a>
                </div> 
            </div>
        </div>
        <!-- content end -->

        <!-- /////////////////////////////////////////////////////////////////////////// -->
        <!-- foot start -->
        <!-- /////////////////////////////////////////////////////////////////////////// -->
        
       <div class="foot">

            <div class="footMid">
                <ul>
             <li><i><a href="../profile.html">关于光圣</a></i>
             <a href="../profile.html">光圣简介</a>
             <a href="../GY/SHZR.html">社会责任</a>
             <a href="../GY/XWZX.html">新闻中心</a></li>
                        
                        <li><i><a href="../../view/chanpin.html">产品介绍</a></i>
                        <a href="../../view/chanpin.html">RF产品</a>
                        <a href="../GTX/GTX.html">光通讯产品</a></li>

                        <li><i><a href="../../view/gsfengcai.html">光圣风采</a></i>
                        <a href="../../view/gsfengcai.html">QCC</a>
                        <a href="../HD/DBQ.html">躲避球</a>
                        <a href="../HD/NH.html">公司年会</a></li>

                        <li><i><a href="../../view/touzi.html">联系我们</a></i>
                        <a href="../../view/touzi.html">公司信息</a>
                        <a href="../TZ/GSZL.html">公司治理</a>
                        <a href="../TZ/GG.html">临时公告</a></li>

                        <li class="lastFootList"><i><a href="../../view/person.html">人力资源</a></i>
                        <a href="../../view/person.html">人才理念</a>
                        <a href="../RL/ZP.html">人才招聘</a></li>
                </ul>
                

                     

                </div>
            </div>

        </div>
        <!-- foot end -->

        

    </div>
    </form>
    </body>
    <!-- wrapper end -->

    <!-- /////////////////////////////////////////////////////////////////////////// -->
    <!-- JS code -->
    <!-- /////////////////////////////////////////////////////////////////////////// -->
    <script type="text/javascript" src="../../../assets/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/common.js"></script>


</html>
